*{
  margin: 0;
  padding: 0;
}
.container {
  /* border: 2px solid black; */
  width: 80vw ;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-self: center;
}

.card {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  background-color: cadetblue;
  position: relative;
  overflow: hidden;
}

.card-info{
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  transition: transform 0.6s ease-in-out ;
}

.card:hover .card-info{
  transform: translateY(0);
}


.img {
  height: 20vh;
  width: 20vh;
  background-color: rgb(75, 238, 238);
  display: inline-block;
}

button{
  background-color: rgb(127, 255, 212);
  border-radius: 10px;
  padding: 10px ;
}

button:hover{
  background-color: rgb(45, 250, 182);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}